.entry-container {
  width: 85%; /* for mobiles with width smaller than 360 */
  max-width: 24rem; /* for web so the box isnt so big */
  padding: 1rem 3rem 5rem 3rem;
  background: white;
  --primary-color: #422924;
  --success-color: #B3C0A4;
}

.entry-title {
  background-color: white;
  color: var(--primary-color);
  font-weight: Bold;
	margin: 0;
	padding: 2.5rem 1rem;
	text-transform: uppercase;
  font-size: 1.5rem;
  user-select: none;
  animation: fadeIn 1s;
}

.input {
  display: inline-block;
  font-size: 1.125rem;
	color: var(--primary-color);
	background-color: #E6E6E6;
	width: 100%;
  padding: 13px 20px 13px 20px;
  margin: 0 0 1.3rem 0;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
	animation: fadeIn 1s;
}
.input:focus {
	background: white;
	border: 3px solid var(--primary-color);
	outline: none;
}
.input:not(:placeholder-shown) {
	border: 3px solid var(--success-color);
}

.submit {
  width: 100%;
  padding: 1.2rem 20px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  border-radius: 0.5vh;
  border: none;
  animation: fadeIn 1s;
}

.submit:hover {
  filter: brightness(90%);
}

.submit:active {
  filter: brightness(130%);
}

.submit:focus {
  outline: none;
  box-shadow: 0 0 4px #000000;
}

.entry-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 0.85rem;
  animation: fadeIn 1s;
}
.entry-link:active {
  color: var(--success-color);
}

.error-text {
  color: red;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  opacity: 0;
  user-select: none;
}
.error-visible {
  opacity: 1;
}